/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

:root{
    --text-white:#ffffff;
    --letter:'Heebo', sans-serif;
}
body{
    padding-right: 200px;
    font-family: 'Heebo', sans-serif;
}