/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

:root{
    --text-white:#ffffff;
    --input-button: #000000;
    --input-field: #3c3c3c;
    --border-inputs: #dc1c2b;
    --letter:'Heebo', sans-serif;
}
body{
    padding-right: 200px;
    font-family: 'Heebo', sans-serif;
}