<nav class="menu">
    <div class="nav-left">
        <img src="./../../../assets/playvie-logo.png" alt="">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Estrenos</a></li>
            <li><a href="#">Categorias</a></li>
        </ul>
    </div>
    <div class="search-field">
        <form onsubmit="">
            <search-input></search-input>
        </form>
    </div>
    <div class="nav-right">
        <ul>
            <li><a href="#">Sign in</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>
</nav>
