<section class="sect">
    <div class="highlight-description">
        <div class="highlight-content">
            <h2>American pie 2</h2>
            <p>Having spent a year apart after joining college, a group of friends decide to reunite at a beach house. In their efforts to have a nice time, they land up encountering troublesome situations.</p>
            <app-main-button></app-main-button>
        </div>
    </div>
    <video disablePictureInPicture src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true"></video>
</section>

