.slider-container{
    width: 100vw;
    height: 270px;
    padding: 5px 20px;
    background-color: black;
    position: relative;
    bottom:20vh;
}

.slider{
    display: flex;
    height: 100%;
    width: 100vw;
    overflow-x: auto;
}

.slider-container h1{
    color: var(--text-white);
    margin-left: 8px;
    margin-bottom: 4px;
}

.slider-hidden::-webkit-scrollbar{
    display: none;
}

.slider-hidden-2{
    scrollbar-width: none;
}

app-card-movie {
  height: 240px;
}

@media (max-width: 480px) {
  app-card-movie {
    height: 140px;
  }

  .slider-container{
    height: 140px;
}

}
