<section class="slider-container">
    <h1>The top rated</h1>
    <div class="slider slider-hidden-2">
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
        <app-card-movie></app-card-movie>
    </div>
    <h1>Recently added</h1>
    <div class="slider slider-hidden-2">
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
    </div>
    <h1>Most viewed</h1>
    <div class="slider slider-hidden-2">
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
      <app-card-movie></app-card-movie>
    </div>
</section>
